<!DOCTYPE html>
<html>
<head>
  <title>Online Voting System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page-center">

  <div class="card">
    <h1 class="title"> Online Voting System</h1>
    <p class="subtitle">Secure • Simple • Transparent</p>

    <div class="btn-group">
      <a href="/user-login" class="btn primary">Login</a>
      <a href="/signup" class="btn secondary">Signup</a>
    </div>
  </div>

</body>
</html>
