<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page-center">

  <div class="card">
    <h2>User Login</h2>

    <form id="userLoginForm" class="form">
      <input type="number" placeholder="Aadhar Number" id="aadhar" required>
      <input type="password" placeholder="Password" id="password" required>

      <button type="submit" class="btn primary">Login</button>
    </form>

    <a href="/" class="link">⬅ Back to Home</a>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
