<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page-center">

  <div class="card wide">
    <h2>Vote Your Candidate</h2>

    <div id="candidateList" class="list"></div>

    <hr>

    <h3>Live Vote Results</h3>
    <div id="results" class="list"></div>

    <button onclick="logout()" class="btn danger">Logout</button>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
